@using System.Web.UI.WebControls
@using aQord.ASP.Models
@model IEnumerable<aQord.ASP.Models.Person>


@{
    ViewBag.Title = "Index";
}

<h2>Liste af håndværkere</h2>


<p>
    @Html.ActionLink("Tilføj ny", "New", "People", new { @class = "btn btn-default" })


    @using (Html.BeginForm("Index", "People", FormMethod.Get))
    {
    <p>

        @Html.TextBox("filterString", null, new { @placeholder = "Søg" })

        <input type="submit" value="Filter" />
    </p>
}
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CellphoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OccupationalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaryPrHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeeklyWorkingHours)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CellphoneNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OccupationalStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalaryPrHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeeklyWorkingHours)
                </td>
                <td>
                    @Html.ActionLink("Redigere", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalje", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Slet", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
