@*@model System.Data.Entity.DbSet<aQord.ASP.Models.Schematics>*@
@using System.Web.UI.WebControls
@using aQord.ASP.Models
@using DocumentFormat.OpenXml.Drawing
@model IEnumerable<aQord.ASP.Models.Schematics>

@{
    ViewBag.Message = "Index";
}


<br />

<p>
    @Html.ActionLink("Tilføj ny", "New", "Schematics", new { @class = "btn btn-primary" })

</p>

@*@using (Html.BeginForm("Index", "Schematics", FormMethod.Get, new {@class = "form-inline my-2 my-lg-0"}))
    {

        <div data-toggle="tooltip" title="Brug , for at søge efter flere kriterier" class="space">
            @Html.TextBox("searchString", null, new { @class = "form-control mr-sm-2", @placeholder = "Søg" })
            <input type="submit" value="Filtre" class="btn btn-secondary my-2 my-sm-0 e" />

        </div>

    }*@


<div class="table-responsive-sm">

    <p style="text-align: center" class="alert alert-dismissible alert-warning">
        Søge/filter funktionalitet under udvikling, dropdown filtering virker med strings , men ikke int endnu
    </p>

    <table class="table table-striped table-hover">
        <tr>
            @using (Html.BeginForm("Index", "Schematics", FormMethod.Get))
            {
                <th>
                    @Html.DisplayNameFor(model => model.TypeOfWork)
                    @Html.DropDownList("typeOfWork", (SelectList)ViewData["TypeOfWork"], "")
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.StaffRepresentative)
                    @Html.DropDownList("staffRepresentative", (SelectList)ViewData["StaffRepresentative"], "")
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Year)
                    @Html.DropDownList("year", (SelectList)ViewData["Year"], "")
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Firm)
                    @Html.DropDownList("firm", (SelectList)ViewData["Firm"], "")
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.WorkplaceAddress)
                    @Html.DropDownList("workplaceAddress", (SelectList)ViewData["WorkplaceAddress"], "")
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.ProjectNumber)
                    @Html.DropDownList("projectNumbers", (SelectList)ViewData["ProjectNumbers"], "")
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CraftsmanId)
                    @Html.DropDownList("craftsmanId", (SelectList)ViewData["CraftsmanId"], "")
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Name)
                    @Html.DropDownList("name",(SelectList)ViewData["Name"],"")
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.WeekNumber)
                    @Html.DropDownList("weekNumber", (SelectList)ViewData["WeekNumber"], "")
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.AkkordHours)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.NormalHours)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.ShelterRateAmountOfDays)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.MileageAllowanceAmountOfKm)
                </th>

                <th>
                    <input type="submit" value="Filter" class="form-group btn btn-info" />
                </th>

            }

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Items => item.TypeOfWork)
                </td>

                <td>
                    @Html.DisplayFor(Items => item.StaffRepresentative)
                </td>

                <td>
                    @Html.DisplayFor(Items => item.Year)
                </td>

                <td>
                    @Html.DisplayFor(Items => item.Firm)
                </td>

                <td>
                    @Html.DisplayFor(Items => item.WorkplaceAddress)
                </td>

                <td>
                    @Html.DisplayFor(Items => item.ProjectNumber)
                </td>

                <td>
                    @Html.DisplayFor(items => item.CraftsmanId)
                </td>

                <td>
                    @Html.DisplayFor(items => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(items => item.WeekNumber)
                </td>

                <td>
                    @Html.DisplayFor(items => item.AkkordHours)
                </td>

                <td>
                    @Html.DisplayFor(items => item.NormalHours)
                </td>

                <td>
                    @Html.DisplayFor(items => item.ShelterRateAmountOfDays)
                </td>

                <td>
                    @Html.DisplayFor(items => item.MileageAllowanceAmountOfKm)
                </td>

                <td>
                    @Html.ActionLink("Redigere", "Edit", "Schematics", new { id = item.Id }, new { @class = "btn btn-outline-success" })
                    @Html.ActionLink("Detalje", "Details", "Schematics", new { @class = "btn btn-outline-info" })
                    @Html.ActionLink("Slet", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
                    @Html.ActionLink("Export", "ExportToExcel", new { id = item.Id }, new { @class = "btn btn-outline-warning" })
                </td>
            </tr>
        }

    </table>
</div>
