@*@model System.Data.Entity.DbSet<aQord.ASP.Models.Schematics>*@
@using System.Web.UI.WebControls
@using aQord.ASP.Models
@using DocumentFormat.OpenXml.Drawing
@model IEnumerable<aQord.ASP.Models.Schematics>

@{
    ViewBag.Message = "Index";
}

<h2>Uge skema</h2>

<p>
    @Html.ActionLink("Tilføj", "New", "Schematics", new { @class = "btn btn-default" })
</p>

@using (Html.BeginForm("Index", "Schematics", FormMethod.Get))
{
    <p>
        @Html.TextBox("searchString", null, new { @PlaceHolder = "Søg" })
        <input type="submit" value="Søg" />
    </p>
}


<p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfWork)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.StaffRepresentative)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Firm)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.WorkplaceAddress)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ProjectNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CraftsmanId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.WeekNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AkkordHours)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.NormalHours)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ShelterRateAmountOfDays)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.MileageAllowanceAmountOfKm)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Items => item.TypeOfWork)
                </td>

                <td>
                    @Html.DisplayFor(Items => item.StaffRepresentative)
                </td>

                <td>
                    @Html.DisplayFor(Items => item.Year)
                </td>

                <td>
                    @Html.DisplayFor(Items => item.Firm)
                </td>

                <td>
                    @Html.DisplayFor(Items => item.WorkplaceAddress)
                </td>

                <td>
                    @Html.DisplayFor(Items => item.ProjectNumber)
                </td>

                <td>
                    @Html.DisplayFor(items => item.CraftsmanId)
                </td>

                <td>
                    @Html.DisplayFor(items => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(items => item.WeekNumber)
                </td>

                <td>
                    @Html.DisplayFor(items => item.AkkordHours)
                </td>

                <td>
                    @Html.DisplayFor(items => item.NormalHours)
                </td>

                <td>
                    @Html.DisplayFor(items => item.ShelterRateAmountOfDays)
                </td>

                <td>
                    @Html.DisplayFor(items => item.MileageAllowanceAmountOfKm)
                </td>

                <td>
                    @Html.ActionLink("Redigere", "Edit", "Schematics", new { id = item.Id }, "")
                    @Html.ActionLink("Detalje", "Details", "Schematics")
                    @Html.ActionLink("Slet", "Delete", new { id = item.Id })
                    @Html.ActionLink("Export", "ExportToExcel", new { id = item.Id }, "")
                </td>
            </tr>
        }

    </table>
</p>
