<nav class="navbar navbar-expand-sm navbar-dark bg-primary w-auto">
    @*<a class="navbar-brand" href="#">Navbar</a>*@
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav" >
        <ul class="navbar-nav">
            @Html.ActionLink("Hjem", "Index", "Home", "", new { @class = "sr-only(current) nav-link" })
            @Html.ActionLink("Håndværker", "Index", "People", "", new { @class = "sr-only(current) nav-link" })
            @Html.ActionLink("Uge skema", "Index", "Schematics", "", new { @class = "sr-only(current) nav-link" })
            @Html.ActionLink("Om", "About", "Home", "", new { @class = "sr-only(current) nav-link" })
            @Html.ActionLink("Kontakt", "Contact", "Home", "", new { @class = "sr-only(current) nav-link" })
        </ul>
    </div>

    <div class="navbar-text" style="float: right">
        @Html.Partial("_LoginPartial")
    </div>
</nav>
